<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ sơ</title>
</head>
<body>
    <h1>Hồ sơ của tôi</h1>
    <div>
        <p>Họ và tên:<%= user.fullname%></p>
        <p>Tài khoản:<%= user.username%></p>
        <p>Email:<%= user.email%></p>
        <p>Vai trò:<%= user.role%></p>
    </div>
    <hr>
    <h2>Món ăn yêu thích của tôi</h2>
    <% if(favouriteRecipes.length == 0) { %>
        <p>Chưa có công thức yêu thích nào</p>
    <% } else { %>
        <ul>
            <% favouriteRecipes.forEach(function(recipe) { %>
                <li>
                    <strong><%= recipe.title %></strong> 
                    <br>
                    <small>Chuẩn bị: <%= recipe.prep_time %> phút | Nấu: <%= recipe.cook_time %> phút</small>
                    <br>
                    <% if (recipe.image_url) { %>
                        <img src="<%= recipe.image_url %>" alt="<%= recipe.title %>" style="max-width: 200px; height: auto;">
                    <% } else { %>
                        <p><em>Không có ảnh minh họa</em></p>
                    <% } %>
                    <p><a href="/recipes/<%= recipe.id %>">Xem chi tiết</a></p>
                    
                </li>
                <br>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>